body {
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    color:  #434455;
    background-color: #ffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
  padding: 0;
}

a {
    text-decoration: none;
}

.logo {
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
margin-right: 76px;
}

.logo-vidstup{
    
}

.logo-studio {
    color: #2e2f42;
    
}

.navigator-list {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
margin-right: auto;
padding-top: 24px;
padding-bottom: 24px;
display: block;
transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1)

}

a:hover, 
a:focus                                        
{
    color: #404BBF;
}

.adresa {
    font-style: normal;
}

.adresa-list {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.features {
    color: #2e2f42;
    width: 1158px; 
    padding: 0 15px; 
    margin: 120px auto;

 
}

.title-main {

font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #ffffff;
max-width: 496px;
}

.title-main-section {
    display: flex;
    flex-direction: column ;
    align-items: center;
    gap: 48px;
        
}

.btn-title {
cursor: pointer;
background-color: #4D5AE5;
border-radius: 4px;
border: none;
padding: 16px 32px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
font-family: "Roboto", sans-serif;  
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
min-width: 169px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-title:hover,
.btn-title:focus                                            
{
    background-color: #404BBF;
}

.title-features {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;
}

.text-features {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;

}

.titles {
text-transform: capitalize;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 72px;

}

.team {
   
}

.team-back {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
background: #fff;
}

.name-team {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;
}

.about-team {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
padding-bottom: 8px;

}

.title-portfolio {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.portfolio-title {
text-transform: capitalize;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
    margin-bottom: 72px; 
}

.about-portfolio {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
    max-width: 264px;
    margin-bottom: 16px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .footer-main{
    
    background-color:  #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}


.logo-studio-footer {
    color: #f4f4fd;
}

.header-navigation {
    display: flex;
    align-items: center;
    flex-grow: 1;
  
   
}

.header-menu-list {
display: flex;
gap: 40px;
padding-left: 0; 
margin: 0;}





.header-social-list {
    display: flex;
    gap: 40px;
    padding-left: 0; 
margin: 0;
   
}

img {
    display: block;
      height: auto;
}

.header-container {
    display: flex;
    align-items: center;
    
}

.features-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    padding-left: 0; 
margin: 0;

 
}

.features-item {
    width: calc((100% - 3 * 24px) / 4);
}

.team-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    padding-left: 0; 
    margin: 0;
}

.container {
    width:1158px; 
    padding: 0 15px;
    margin: 0 auto;
}

.container-footer{
    display: flex;
    align-items: baseline;
    margin-left: 156px;
}

.our-portfolio {
    background-color: #fff;
    
}

.portfolio-item {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
align-items: flex-start;
justify-content: center;
padding-left: 0; 
margin: 0;

}

.portfolio-item-list {
    background: #fff;
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.portfolio-item-list:hover{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);;
}

.portfolio-border {
    border-bottom: 1px solid #e7e9fc;
border-left: 1px solid #e7e9fc;
border-right: 1px solid #e7e9fc;
padding: 32px 16px;
}


.main-section {
    padding-top: 188px;
    padding-bottom: 188px;
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
}

.header-border {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); 
}

.features-section{
    padding-top: 120px; 
    padding-bottom: 120px;
}

.team-section {
    padding-top: 120px; 
    padding-bottom: 120px;
    background-color: #F4F4FD;
}

.name-about-team{
    padding-top: 32px;
    padding-bottom: 32px;
}

.portfolio-section {
    padding-top: 120px; 
    padding-bottom: 120px; 
}

.logo-footer{
    font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
display: inline-block; 

}

.logo-footer-main{
    margin-right: 120px;
}

.section-icon-features{
    border: 1px solid #8e8f99;
border-radius: 4px;
width: 264px;
height: 112px;
background: #f4f4fd;
margin-bottom: 8px;
display: flex;
justify-content: center;
align-items: center;
}

.current {
    position: relative;
    color: #404bbf;
}

.navigator-list.current::after {
    content:'';
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: #404bbf;
    }

    .icons-team-social-list{
        display: flex;
        justify-content: center;
        gap: 24px;      
    }

    .ellipse{
        width: 40px;
        height: 40px;
    }

    .link-icons-team-social {
        width: 100%;
        height: 100%;
        color: #F4F4FD;
        background-color: #4D5AE5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .icons{
        fill: #f4f4fd;
    }

    .link-icons-team-social:focus{
        background-color: #404bbf;
    }

    .team-back:hover .link-icons-team-social {
        width: 100%;
        height: 100%;
        color: #F4F4FD;
        background-color: #404BBF;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        fill: #fff;
    }

    .link-icons-footer-social{
        width: 100%;
        height: 100%;
        color: #F4F4FD;
        background-color: #4D5AE5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        fill: #fff;
    }

    .link-icons-footer-social:hover,
    .link-icons-footer-social:focus
    {
        width: 100%;
        height: 100%;
        color: #F4F4FD;
        background-color: #31D0AA;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        fill: #fff;
    }

   .footer-inner{
    display: flex;
   }

    .text-social-media-footer{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
    }

    .list-social-media-footer{
        display: flex;
        justify-content: space-between;
        gap: 16px;
    }

    .social-media-footer{
        width: 208px;
    }

    .overlay-text
    {
        line-height: 1.5; 
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        position: absolute;
        top: 0;
        padding: 40px 32px;
        background-color: #4d5ae5;
        height: 100%;
        width: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

  .portfolio-img{
    position: relative;
    overflow: hidden;
  }


.portfolio-item-list:hover .overlay-text{
    transform: translateY(0%);
}

